
body{
  font-family: calibri;
}

.navbar{
  border-bottom: 2px solid #94C425;
}


.call-action{
  height: 200px;
  max-width: 600px;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  color: #C07B82;
  line-height:80%;
  text-align: center;
  text-shadow: 2px 1px;
  font-size: 2em;
  background-size: contain;
}

.contact {
  background: url('../images/pizza-329523__480.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.recepten{
  background: url('../images/food-712665__480.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.werkwijze {
  background: url('../images/breakfast-1804457__480.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.inschrijven{
  background: url('../images/canape-2802__480.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
  border-bottom: 2px solid #94C425;
}

.bottom-nav {
  margin-left: 10px;
  border-top: 1px solid #AB375F;
  border-bottom: 2px solid #94C425;
  color: #C07B82;
  font-size: 0.8em;
}

.bottom-nav a {
  color:inherit;#C07B82;
  text-decoration: none;
  font-weight: bold;
}
