
body{
  font-family: calibri;
}

.navbar{
  border-bottom: 2px solid #94C425;
}


.col-sm {
  border: 1px solid #C07B82;
  margin: 10px;
}

.col-sm a {
  text-decoration: none;
}

.call-action{
  height: 200px;
  padding: 5px;
  color: black;
  line-height:80%;
  text-align: center;
  font-weight:bold;
  font-size: 2em;
  background-size: contain;
}

#contact {
  background: url('../images/baked-goods-1853261__480.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#recepten{
  background: url('../images/cookie-756601__480.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#werkwijze {
  background: url('../images/breakfast-1804457__480.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#inschrijven{
  background: url('../images/canape-2802__480.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar{
  border-bottom: 2px solid #94C425;
}

.bottom-nav {
  border-top: 1px solid #AB375F;
  border-bottom: 5px solid #94C425;
}
.bottom-nav footer{
  margin-left: 20%;
  margin-top: 10px;
  color: #C07B82;
  font-size: 0.8em;
}

.bottom-nav a {
  color: #C07B82;
  text-decoration: none;
  font-weight: bold;
}

.company {
  font-style:italic;
}
